@media screen and (max-width: 1140px) {
    header {
        padding: 1.2em;
    }
}

@media screen and (max-width: 960px) {
    body {
        font-size: 10px;
    }

    main>img {
        width: 300px;
    }

    .informacoes h1 {
        font-size: 1.5em;
    }

    .informacoes h2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 720px) {
    body {
        background: var(--body-bg-color);
    }

    main>img {
        width: 260px;
    }

    main {
        width: 100%;
    }

    .informacoes h1 {
        padding-top: 1rem;
        font-size: 1em;
    }

    .informacoes h2 {
        font-size: .8em;
    }

    .informacoes p {
        font-size: .8em
    }

    form p {
        font-size: .7em;
    }

    form .email-input input {
        height: 2em;
    }

    form .email-input button {
        width: 2em;
        height: 2em;
    }

    button img {
        width: 1em;
    }

    input::-webkit-input-placeholder {
        font-size: .7em;
    }

    a {
        font-size: .8em;
    }
}

@media screen and (max-width: 560px) {
    body {
        display: flex;
        justify-content: center;
    }

    main>img {
        padding: 0;
    }

    main {
        margin: 0 90vw;
        padding: 0;
        text-align: center;
    }

    .informacoes h1 {
        margin-bottom: 2.2em;
    }

    form {
        width: 100%;
    }

    main>a {
        justify-content: center;
    }
}